@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all';

body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Titillium Web', sans-serif;
}

.font-light {
    font-weight: 300;
}

.btn-theme {
    background: #2B237C;
    color: #fff;
}

.btn-theme:hover {
    color: #fff;
}

.cart-drop-btn {
    font-size: 0.7rem;
}

div.wrapper {
    border-top: 3px solid #2B237C;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-items li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-items li a {
    color: #888;
}

.cart-icon {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -10px;
    left: 8px;
    background: red;
    height: 17px;
    width: 17px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.7rem;
}

.prod-image-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

form#add-to-cart {
    display: inline !important;
    margin: 0em !important;
    margin-block-end: 0em !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none !important;
    border: none !important;
}

ul.footer-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.footer-menu li a {
    color: #2B237C;
}

.ideraos-link {
    color: #2B237C;
}

.card-title.product-title a {
    font-size: 1.1rem !important;
    font-weight: 700;
    color: #2B237C;
}

#product-desc {
    font-size: 0.8rem !important;
}

.action-btn {
    font-size: 0.8rem !important;
}

.full-content {
    height: auto;
    min-height: 100vh;
}

.bg-lightgrey {
    background: #FAFAFA !important;
}

.ml-10 {
    margin-left: 6rem !important;
}

.mr-10 {
    margin-right: 6rem !important;
}

.checkout-address-form label {
    font-size: 0.9rem;
}

.ship-btn {
    padding: 40px 15px;
}

.address-box {
    margin-bottom: 3rem;
}

.address-box table tr td {
    font-size: 0.8rem;
}

.address-box table tr:first-child td {
    border-top: none !important;
}

.btn.btn-link.btn-small {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 0.8rem;
}

.prod-img {
    height: 200px !important;
    overflow-y: hidden;
}

.storefinder-search {
    height: auto;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.storefind-search {
    width: 100% !important;
}

.radius-left {
    border-radius: 20px 0px 0px 20xp;
}

.radius-right {
    border-radius: 0px 20px 20px 0xp;
}

.product-card:hover {
    box-shadow: 2px 1px 3px 2px #ccc !important;
}

#phoneAddon {
    display: none;
}

@media only screen and (max-width: 1174px) {
    .full-side {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .checkout-img, .slide-images {
        display: none !important;
    }
    
    .checkout-product {
        font-size: 1rem !important;
    }

    .row.full-content {
        flex-direction: column-reverse;
    }
}